<!-- <p>signup-signin works!</p> -->
<body>
<div class ="row">
    <div class="col-md-6 mx-auto p-0">
      <div class="card">
  <div class="login-box">
    <div class="login-snip">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
      <div class="login-space">
        <div class="login">
          <form [formGroup]="loginFormGroup" (ngSubmit)="loginCheck()">
          <!-- <div class="group">
            <label for="pass" class="label">UserId</label>
            <input id="pass" type="text" class="input" formControlName="userid" placeholder="Enter your userid">
          </div> -->
          <div class="group">
            <label for="pass" class="label">Email Address</label>
            <input id="pass" type="text" class="input" formControlName="emailid" placeholder="Enter your email address">
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input id="pass" type="password" class="input" formControlName="password" data-type="password" placeholder="Enter your password">
          </div>
          <!-- <div class="group">
            <input id="check" type="checkbox" class="check" checked>
            <label for="check"><span class="icon"></span> Keep me Signed in</label>
          </div> -->
          <div class="group">
            
            <input type="submit" class="button"  value="Sign In"> 
          </div>
          <!-- <div class="hr"></div>
          <div class="foot">
            <a href="#">Forgot Password?</a>
          </div> -->
          </form>
        </div>
        
        <div class="sign-up-form">

         <form class="form" [formGroup]="userFormGroup" (ngSubmit)="SignuppData()">
          <div class="group">
            <label for="pass" class="label">Email Address</label>
            <input id="pass" type="text" class="input" formControlName="emailid" placeholder="Enter your email address">
          </div>
          <div class="group">
            <label for="user" class="label">Username</label>
            <input id="user" type="text" class="input" formControlName="username" placeholder="Create your Username">
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input id="pass" type="text" class="input" formControlName="password" placeholder="Create your password">
          </div>
        
          <div class="group">
            <label for="pass" class="label">Residence Address</label>
            <input id="pass" type="text" class="input" formControlName="address" placeholder="Enter your address">
          </div>
          <div class="group">
            <!-- <button name="button" class="button"  type="button" onclick="SignuppData()">CLICK</button>  -->
            <input type="submit" class="button" value="Register">
          </div>

           <div class="hr"></div>
          <div class="foot">
            <label for="tab-1">Already Member?</label>
          </div> 
        </form>
        </div>
      </div>
    </div>
  </div>   
  </div>
  </div>
  </div>

</body>

